:root {
    --textColor: white;
    --formTextcolor: white;

    font-family: 'Times New Roman', Times, serif;
}

html, body {
    width: 100%;
    height: 100vh;
}

body {
    background-image: url('./images/backoverlay.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.image-container { 
    width: 100%;
    height: 100vh;
    position: absolute;
     z-index: -1;    
}

/* .image-container::before {
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    right: 20px;
    height: 97%;
    border: 2px solid rgb(214, 122, 68);
    margin: 10px;
    box-sizing: border-box;
  }
   */
 
.top-half {
    width: 100%; 
    height: 55vh; 
    object-fit: cover;
    
}

.bottom-half { 
    width: 100%;
    height: 50vh;
    object-fit: cover;     
}
 
.circle-img {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45%;
    
}
 

.clouds {
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}


/* Text Segment */
.outline {
    padding: 20px;

}

.content-container {
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    border: 1px solid white;
}


.astrologer-name {
    color: var(--textColor);
    font-size: 15px;
    font-weight: 100;
    text-align: center;
    padding: 20px 0;
}

.intro-text {
    display:grid;
    gap:5px;
    padding-top: 50px;
}

.text-choisissez {
    color: var(--textColor);
    font-size: 20px;
    font-weight: 100;
    margin:0;
    
}

.text-constellation {
    color: rgb(214, 122, 68);
    font-size: 24px;
    font-weight: 900;
    margin:0;
}


.horoscope-button {
    --buttonColor: white;
    z-index: 1;
    display: block;
    padding: 5px;
    border: 1px solid var(--buttonColor);
    margin: 20px;
    box-sizing: margin-box;
    background:none;
}

.horoscope-button:hover {
    --buttonColor: rgb(214, 122, 68);
    cursor: pointer;
}

.horoscope-button span {
    background: var(--buttonColor);
    display:block;
    padding: 10px 40px;
}

.bottom-text {
    color: var(--textColor);
    font-size: 12px;
    width: 35%;
    text-align: center;
}

.selected-sign{
    padding: 20px 0;
}
/* 
.selected-sign img {
    width: 14vw;
} */

.form-box { 
    border: 1px solid #1d2150;
    background-color: #1d2150;
    padding:20px 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
}

form {
    width: 80%;
    margin: 0 auto;
    z-index: 1;
  }

.textbox {
    display: flex;
    flex-direction: row;
    gap: 20px;
    
    
  }

.textbox-dob {
display: flex;
flex-direction: row;
gap: 5px;


}

input[type="date"]{
    margin-bottom: 10px;
    border-radius: 5px;
    border: transparent;
    border-bottom: 2px solid rgb(214, 122, 68);
    font-size: 12px;
    width: 72%;
    background-color: transparent;
    color: var(--formTextcolor);

    }

.send-btn button{
    margin: auto;
    color: var(--formTextcolor);
    background-color: rgb(214, 122, 68);
    padding:10px 20px;
}
  
.form-header {
    color: rgb(214, 122, 68);
    font-size: 30px;
    text-align: center;
    font-weight: 900;
    padding: 10px 0px;
    margin:0;

}

.form-rule {
    color: var(--formTextcolor);
    font-size: 12px;
    text-align: center;
}

.form-rule a {
    color: rgb(214, 122, 68);
    text-decoration: underline;
}

label {
    color: var(--formTextcolor);
    font-size: 15px;
  }
  
input[type="text"],
input[type="email"],
select {
    margin-bottom: 10px;
    border-radius: 5px;
    border: transparent;
    border-bottom: 2px solid rgb(214, 122, 68);
    font-size: 16px;
    width: 100%;
    background-color: transparent;
    color: var(--formTextcolor);
    font-size: 12px;
}
  
input[type="submit"] {
    background-color: blue;
    color: var(--formTextcolor);
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: lightblue;
}

.sagittarius-sign-middle {
    position: absolute;
    top:32%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.sagittarius-line-middle {
    position: absolute;
    top:32%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.aquarius-sign {
    position: absolute;
    top: 15%;
    left: 10%;
    transform: translate(-50%, -50%);


}

.aquarius-line {
    position: absolute;
    top: 15%;
    left: 10%;
    transform: translate(-50%, -50%);

}

.leo-sign {
    position: absolute;
    top: 32%;
    left: 6%;

}

.leo-line {
    position: absolute;
    top: 40%;
    left: 11%;
    transform: translate(-50%, -50%);

}

.libra-sign {
    position: absolute;
    top: 34%;
    left: 21%;
    transform: translate(-50%, -50%);

}

.libra-line {
    position: absolute;
    top: 34%;
    left: 21%;
    transform: translate(-50%, -50%);

}

.cancer-sign {
    position: absolute;
    top: 13%;
    left: 25%;
    transform: translate(-50%, -50%);

}

.cancer-line {
    position: absolute;
    top: 13%;
    left: 25%;
    transform: translate(-50%, -50%);
}

.aries-sign {
    position: absolute;
    top: 15%;
    left: 36%;
    transform: translate(-50%, -50%);

}

.aries-line {
    position: absolute;
    top: 15%;
    left: 36%;
    transform: translate(-50%, -50%);

}


.capricorn-sign {
    position: absolute;
    top: 35%;
    left: 35%;
    transform: translate(-50%, -50%);

}

.capricorn-line {
    position: absolute;
    top: 35%;
    left: 35%; 
    transform: translate(-50%, -50%);
    
}

[class$="-line"] {
    mix-blend-mode: screen;
}

.taurus-sign {
    position: absolute;
    top: 13%;
    left: 64%;
    transform: translate(-50%, -50%);

}

.taurus-line {
    position: absolute;
    top: 13%;
    left: 64%;
    transform: translate(-50%, -50%);

}


.scorpio-sign {
    position: absolute;
    top: 35%;
    left: 65%;
    transform: translate(-50%, -50%);

}

.scorpio-line {
    position: absolute;
    top: 35%;
    left: 65%;
    transform: translate(-50%, -50%);

}



.gemini-sign {
    position: absolute;
    top: 15%;
    left: 78%;
    transform: translate(-50%, -50%);

}

.gemini-line {
    position: absolute;
    top: 15%;
    left: 78%;
    transform: translate(-50%, -50%);

}


.pisces-sign {
    position: absolute;
    top: 38%;
    left: 78%;
    transform: translate(-50%, -50%);

}

.pisces-line {
    position: absolute;
    top: 38%;
    left: 78%;
    transform: translate(-50%, -50%);

}


.virgo-sign {
    position: absolute;
    top: 15%;
    left: 90%;
    transform: translate(-50%, -50%);

}

.virgo-line {
    position: absolute;
    top: 15%;
    left: 90%;
    transform: translate(-50%, -50%);
} 

.sagittarius-sign {
    position: absolute;
    top: 32%;
    left: 90%;
    transform: translate(-50%, -50%);
}

.sagittarius-line {
    position: absolute;
    top: 32%;
    left: 90%;
    transform: translate(-50%, -50%);
}

.image-container {
    --ratio: 10;
}

.sign-width img{
    width: calc(100vw/var(--ratio));
    height: calc(100vw/var(--ratio));
}

.line-width img{
    width: calc(100vw/calc(var(--ratio) + 5));
    height: calc(100vw/calc(var(--ratio) + 5));
}










