* {
    margin: 0;
    box-sizing: border-box;
    
}

@media screen and (max-width: 480px) {}
@media screen and (max-width: 480px) {}
@media screen and (min-width: 1024px) and (max-width: 1920px) {}


/* .overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(41, 45, 90, 0.4);
} */


.image-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    
}

.image-container::before {
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    right: 20px;
    height: 97%;
    border: 3px solid rgb(214, 122, 68);
   margin: 10px;
    box-sizing: border-box;
  }
  
.top-half {
    width: 100%;
    height: 55%;
    object-fit: cover;
    
}

.bottom-half {
    width: 100%;
    height: 50%;
    object-fit: cover;
    
}
  
.top-half {
    object-fit: cover;
}
  
.bottom-half {
    object-fit: cover;
    background-color: #1e1761;
}

.circle-img {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45%;
    
}



.astrologer-name {
    color: white;
    font-size: 15px;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 100;

}


.text-choisissez {
    color: white;
    font-size: 20px;
    letter-spacing: 5px;
    font-weight: 100;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);

}


.text-constellation {
    color: rgb(214, 122, 68);
    font-size: 45px;
    font-weight: 900;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.clouds {
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}


.horoscope-button {
    position: absolute;
    top: 49%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    display: inline-block;
    padding: 10px 40px;
}

.horoscope-button:before {
    border: 1px solid #ffffff;
    content: "";
    display: block;
    height: 135%;
    position: absolute;
    width: 110%;
    top: -7px;
    left: -8px;
    z-index: -1;
  }

.bottom-text {
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 12px;
}

.form-box {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 30%;
    border: 1px solid #0a0914;
    background-color: #0a0914;
}

form {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    width: 80%;
    margin: 0 auto;
    z-index: 1;
  }

  .textbox {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .textbox {
    display: flex;
    flex-direction: row;gap: 10px;
  }
  
  label {
    color: white;
  }
  
  input[type="text"],
  input[type="date"],
  input[type="email"],
  select {
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    border-bottom: 2px solid orange;
    font-size: 16px;
    width: 70%;
    background-color: transparent;
  }
  
  input[type="submit"] {
    background-color: blue;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: lightblue;
  }


@media screen and (max-width: 480px) {
    .circle-img {
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 250px;
        height: 150px;
    }

    .astrologer-name {
        position: absolute;
        top: 10%;
        left: 50%;
        font-size: 12px;
    }

    .text-choisissez {
        font-size: 13px;
        position: absolute;
        top: 17%;
        left: 50%;
    
    }

    .text-constellation {
        font-size: 18px;
        font-weight: 900;
        position: absolute;
        top: 20%;
        left: 50%;
    
    }

    .clouds {
        position: absolute;
        top: 53%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
    }

    .horoscope-button {
        position: absolute;
        top: 47%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        display: inline-block;
        padding: 10px 40px;
    }
    

}



@media screen and (min-width: 480px) and (max-width: 1024px) {
    .circle-img {
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 60%;
    }

    .astrologer-name {
        position: absolute;
        top: 10%;
        left: 50%;
        font-size: 12px;
    }

    .text-choisissez {
        font-size: 14px;
        position: absolute;
        top: 17%;
        left: 50%;
    
    }

    .text-constellation {
        font-size: 20px;
        font-weight: 900;
        position: absolute;
        top: 20%;
        left: 50%;
    }

    .clouds {
        position: absolute;
        top: 52%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
    }



}

@media screen and (min-width: 1024px) and (max-width: 1240px) {
    .circle-img {
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50%;
    }
    
    .astrologer-name {
        position: absolute;
        top: 12%;
        left: 50%;
        font-size: 12px;
    }

    .text-choisissez {
        font-size: 16px;
        position: absolute;
        top: 17%;
        left: 50%;
    
    }

    .text-constellation {
        font-size: 30px;
        font-weight: 900;
        position: absolute;
        top: 20%;
        left: 50%;
    }




}

@media screen and (min-width: 1240px) and (max-width: 1940px) {
    .circle-img {
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 30%;
    }

    .astrologer-name {
        position: absolute;
        top: 12%;
        left: 50%;
        font-size: 12px;
    }

    .text-choisissez {
        font-size: 16px;
        position: absolute;
        top: 19%;
        left: 50%;
    
    }

    .text-constellation {
        font-size: 30px;
        font-weight: 900;
        position: absolute;
        top: 22%;
        left: 50%;
    }

}






